<div class="container d-flex justify-content-center align-items-center">
 <div class="col-md-6 ">
    <form action="/admin/adminlogin" method="post" class="p-2">
        <label for="">Email</label>
        <input type="email" name="email" class="form-control">

        <label for="">Password</label>
        <input type="password" name="password" class="form-control">

        <button type="submit" class="btn btn-primary mt-4 ">Submit</button>

    </form>
</div>
</div>