<div class="container mt-4">

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">User Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <th scope="row">{{this.username}}</th>
      <td>{{this.email}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

</div>
