<div class="container mt-4 p-4 w-50">

<table class="table text-light table-dark">
  <thead class="thead-dark">
    <tr>
      <th scope="col">User Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}

    <tr class="table-secondary">

      <th scope="row">{{this.username}}</th>
      <td>{{this.email}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

</div>
