<nav class="navbar navbar-expand-lg user-nav">
  <div class="container-fluid">
    
    <div class="col-md-6">
      <a href="/">Js Game</a>
    </div>

    <div class="col-md-6">

      <nav class="user-nav">

        <ul class="user-nav-elements">
          {{#if user}}
            <li><a href="/gamepage"> Home</a></li>

            <li><a href="/">{{user.username}}</a></li>

            <li><a href="/logout">Logout</a></li>
          {{else}}  
            <li><a href="/"> Home</a></li>

            <li><a href="/">About</a></li>

            <li><a href="/login">Login</a></li>
          {{/if}}

        </ul>

      </nav>
  
    </div>
  
  </div>
</nav>