<div class="container">

  <div class="container p-2 m-4" >

    <div class="card mt-3">
          {{!-- <img src="/images/scam2.jpg"  alt="" srcset=""> --}}
      <div class="card-details">

        <h3>Word Scrambler</h3>
        <a href="" class="btn btn-primary">Play</a>

      </div>

    </div>

    <div class="card mt-5">

      <div class="card-details">
        
      </div>

    </div>
  </div>
</div>