<div class="container">

                    {{!-- {{#if level}}
                    <div class="alert alert-danger position-relative" role="alert">
                        Need more points to play
                    </div>
                    {{/if}} --}}

  <div class="container p-2 m-4" >
    <div id="page"></div>

    {{!-- Game card section --}}

    {{!-- #1 --}}
    <div class="card mt-3" id="card1">
      {{!-- <img src="/images/scam2.jpg" alt="" srcset=""> --}}
      <div class="card-details">

        <h3>Word Scrambler</h3>
        <a href="/wordscrambler" class="btn btn-primary">Play</a>

      </div>
    </div>

    {{!-- #2 --}}
    <div class="card mt-5">

      <div class="card-details" >

        <h3>Snake</h3>
        <a href="/snake" class="btn btn-primary" onclick="checkLvl(event)">Play</a>
        {{!-- <button class="btn btn-primary" onclick="checkLvl( )">Play</button> --}}

      </div>
    </div>

    {{!-- #3 --}}
    <div class="card mt-5">

      <div class="card-details">

        <h3>Memory game</h3>
        <a href="/memorygame" class="btn btn-primary" onclick="checkLvl(event)">Play</a>
        {{!-- <button class="btn btn-primary" onclick="checkLvl( )">Play</button> --}}

      </div>
    </div>

    {{!-- #4 --}}
    <div class="card mt-5">

      <div class="card-details">

        <h3>Tic Tac Toe</h3>
        <a href="/tictactoe" class="btn btn-primary" onclick="checkLvl(event)">Play</a>
        {{!-- <button class="btn btn-primary" onclick="checkLvl( )">Play</button> --}}

      </div>
    </div>

  </div>
</div>