<section>
    <div class="container mt-4">
        <div class="row signup-left-right">

            <div class="col-md-6 signup-left">
                <h1>lorem24</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, cumque. Sed excepturi libero
                    repudiandae et ratione illo neque architecto nisi ullam! Eaque, quam animi.</p>
            </div>

            <div class="col-md-6 signup-right">
                <div class="container signup-part">
                    <h2 class="pt-3">Sign UP</h2>
                    <hr>

                    <form action="/signup" method="post" class="mt-2">
                        <label for="">User Name</label>
                        <input type="text" name="username" class="form-control">

                        <label for="">Email</label>
                        <input type="email" name="email" class="form-control">

                        <label for="">Password</label>
                        <input type="password" name="password" class="form-control">

                        <label for="">Confirm Password</label>
                        <input type="password" name="cpassword" class="form-control">

                        <a href="/login" class="mt-4">Already have account</a>

                        <button type="submit" class="btn btn-primary mt-4">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>