<div class="container  d-flex justify-content-center">

    <div class="col-md-6 ">

        <div class="container  d-flex flex-column justify-content-center align-items-center text-light  user-card">
            <h1>Account</h1>
            <hr>

            <div class="float-left w-75 p-3 user-card-details">
                {{#if user}}
                <h5>User Name : {{user.username}}</h5>
                <h5>Email : {{user.email}}</h5>
                <h5>Status : Online</h5>
                <a href="/logout" class="btn btn-danger">Log Out</a>
                {{/if}}
            </div>

        </div>

    </div>

</div>