<div class="container  d-flex flex-column justify-content-center align-items-center gamecontainer">

    <div class="col-md-12 ">
        <header class="head">GUESS THE WORD</header>
    </div>

    <div class="col-md-6 ">
        {{!-- Word scramble game section  --}}
        <section>

                <div class="gamearea">
                    <h3 class="score" name="score"></h3>
                    <h3 class="msg"></h3>
                    <input type="text" name="" id="" class="hidden">
                    <button class="btn btn-success" type="button" id="btn">Click to start</button>
                </div>
                

        </section>
    </div>

</div>