@import url('https://fonts.googleapis.com/css2?family=Acme&family=Press+Start+2P&display=swap');

/* font-family: 'Press Start 2P', cursive; */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Acme', sans-serif;
  /* background: url('../images/gamepage2.jpg') no-repeat center/cover; */
  height: 100vh;
}

a {
  color: black;
  text-decoration: none;
}
/* navbar section */
.user-nav{
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content:center  ;
    backdrop-filter: blur(50px);    
  }
  
  .user-nav-elements {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex-grow: 1;
  }
  
  .user-nav-elements li{
    margin-left: 1rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }


  /* LOGIN SECTION  */

.loginBox {
    background-color: brown ;
}
