@import url('https://fonts.googleapis.com/css2?family=Acme&family=Press+Start+2P&display=swap');

/* font-family: 'Press Start 2P', cursive; */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Acme', sans-serif;
  background: url('../images/signup\ \(2\).jpg') no-repeat center/cover ;
}


a {
  text-decoration: none;
}
/* navbar section */
.user-nav{
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content:center  ;
  }
  
  .user-nav-elements {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex-grow: 1;
  }
  
  .user-nav-elements li{
    margin-left: 1rem;
    padding: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  /* SIGNUP SECTION  */

  .signup-left-right{
    height: 80vh;
    display: flex;
  }

  .signup-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }

  .signup-right{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .signup-part{
    /* background: linear-gradient(to top, #0099ff 0%, #ffffff 100%); */
    backdrop-filter: blur(50px);
    color: #ffffff;
    width: 80%;
    height:60vh;
    border-radius: 10px;
  }

  .signup-part form a{
    float: left;
    margin:10px;
    
  }

  .signup-part form label{
    margin-top: 10px;
  }

  .signup-part form button{
    float:right;
  }