@import url('https://fonts.googleapis.com/css2?family=Acme&family=Press+Start+2P&display=swap');

/* font-family: 'Press Start 2P', cursive; */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: 'Acme', sans-serif;
  background: url('../images/sankebg.jpeg') no-repeat center/cover ;
  height: 100vh;
}

a {
  color: black;
  text-decoration: none;
}

.user-nav{
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content:flex-start  ;
  background-color: greenyellow;
}

.user-nav-elements {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  flex-grow: 1;
}

.user-nav-elements li{
  margin-left: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: black;
}


/* SNAKE GAME SECTION  */

#board {
    /* background-color: linear-gradient(red,yellow); */
    background: url('../images/snakegamebg.jpg') no-repeat center/cover ;
    margin-top: 10px;
    background-color: blue;
    width: 90vmin;
    height: 85vmin;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}

.head {
    background-color: green;
    transform: scale(1.02);
}

.scoreCard {
  margin-top: 10px;
  height: 20vh;
  background: url('../images/scorecard.webp') no-repeat center/cover ;
  border-radius: 10px;
  padding: 1.2rem;
}

#scoreBox {
  font-weight: bold;
  font-size: 2rem;
  
}

#hiScore {
  font-weight: bold;
  font-size: 2rem;
}

.snake {
  background-color: chartreuse;
  border: 2px solid white;
  border-radius: 20px;
}

.food {
    background-color: crimson;
}